* {
    box-sizing: border-box;
}

body {
    background-color: #ffffff;
    margin: 0;
    padding: 0;
}

main {
    padding: 15px;
}

.selected {
    background-color: #e9d3b4;
}

.error {
    background-color: #e7a5a5;
    color: #e51e1e;
}

.success {
    background-color: #a5e7a5;
    color: #1e7e1e;
}

.centered {
    text-align: center;
}

.w-50 {
    width: 50%;
}

.message {
    display: inline-block;
    margin: auto 25%;
    width: 50%;
    padding: 0.5rem;
    border-radius: 5px;
}

a {
    color: #2563eb;
    text-decoration: none;
    transition: all 0.2s ease;
}

a:hover {
    color: #153fb4;
    border-bottom: 2px solid currentColor;
    font-size: 1.05rem;
}