nav {
    padding: 1rem;
}

.navbar-actions,
.navbar-categories {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    align-items: center;
}

.navbar-actions {
    justify-content: flex-end;
    padding-bottom: 0.5rem;
    margin-bottom: 0.5rem;
}


.navbar-categories {
    justify-content: flex-start;
}

nav a {
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    transition: background-color 0.3s;
    font-weight: 500;
}



.page-title a {
    font-size: 1.2rem;
    font-weight: bold;
}



nav select,
nav input[type="text"] {
    padding: 0.5rem;
    border: none;
    border-radius: 4px;
    min-width: 120px;
}

nav button[type="submit"] {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}


.badge {
    padding: 0.2rem 0.5rem;
    border-radius: 12px;
    font-size: 0.8rem;
    margin-left: 0.5rem;
}

@media screen and (max-width: 767px) {

    .navbar-actions,
    .navbar-categories {
        display: none;
    }


    .navbar-mobile {
        display: block;
    }

    .navbar-top,
    .navbar-bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.5rem;
    }

    .navbar-bottom {
        margin-top: 0.5rem;
    }


    .dropdown {
        position: relative;
    }

    .dropdown-toggle {
        border: none;
        padding: 0.5rem 1rem;
        border-radius: 4px;
        cursor: pointer;
    }


    .dropdown-menu {
        display: none;
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .dropdown-menu.show {
        display: block;
        position: absolute;
        top: 150%;
        right: 0;
        padding:5px;
        border-radius: 5px;
        z-index: 1000;
        min-width: 200px;
    }
    .navbar-bottom .dropdown-menu.show {
        left:0;
    }
    .dropdown-menu li a{
        display: block;
        padding: 0.5rem 1rem;
        text-decoration: none;
    }

    
    .search-container {
        flex-grow: 1;
        margin-left: 1rem;
    }
    .search-container form {
        display: flex;
        gap: 0.5rem;
    }

    .search-container input[type="text"] {
        width: 100%;
    }
}

@media screen and (min-width: 768px) {

    .navbar-actions,
    .navbar-categories {
        display: flex;
    }


    .navbar-mobile {
        display: none;
    }

    .navbar-categories li:last-child form {
        flex-grow: 1;
        max-width: 300px;
    }

    .navbar-categories li:last-child input[type="text"] {
        flex-grow: 1;
    }
}