table {
    border-collapse: collapse;
}

.billing-list,
.billing-data {
    display: table;
    width: 80%;
    margin: 10px auto;
}

.billing-list tr,
.billing-data tr {
    width: 100%;
    border-radius: 5px;
}

.billing-list th,
.billing-list td,
.billing-data th,
.billing-data td {
    width: 40%;
}

.billing-list tr:not(.selected):hover {
    cursor: pointer;
}

.cart-list td,
.cart-list th {
    width: 15%;
    text-align: center;
}

.cart-product-card img {
    width: 50%;
}

.purchase-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    margin: 50px auto;
}

.purchase-form button {
    width: 50%;
    margin: auto;
}

.purchase {
    width: 80%;
    margin: auto;
    padding: 10px;
    border-radius: 15px;
}
