
.product-list{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
}
.product-card {
    border: 1px solid #ccc;
    width: 33%;
}
.product-card:hover{
    box-shadow: 0 0 10px #ccc;
    transform: scale(1.05);
    z-index: 1;
    transition: all 0.3s ease-in-out;
}
.product-card img {
    width: 100%;
}