
.product-list{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
}
.product-card {
    border: 1px solid #ccc;
    width: 33%;
}
.product-card:hover{
    box-shadow: 0 0 10px #ccc;
    transform: scale(1.05);
    z-index: 1;
    transition: all 0.3s ease-in-out;
}
.product-card img {
    width: 100%;
}

.cart-list td, th {
    width: 15%;
    text-align: center;
}

.cart-product-card img {
    width: 50%;
}

.billing-list tr:not(.selected):hover {
    cursor: pointer;
    background-color: #bfccb6;
}
.selected {
    background-color: #b1e88c;
}

.billing-data{
    border: 1px solid #2d2c2c;
}
.billing-data td, th {
    border: 1px solid #2d2c2c;
    text-align: center;
}
